.loader {
  animation: spin 2s linear infinite;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40%;
  top: 30%;
  z-index: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animateText {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 2s;
  text-align: center;
  display: none;
}
@-webkit-keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  display: block;
}
.unactive {
  display: none;
}
@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
